{% extends "site_base.html" %}

{% load i18n %}

{% block title %}{% trans "About" %} {{ block.super }}{% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "About FabSpace 2.0" %}</h2>
</div>
<h3>{% trans "Project Summary" %}</h3>
<p>FabSpace 2.0 is the open-innovation network for geodata-driven innovation – by leveraging Space data in particular, in Universities 2.0.</p>
<p>Its Work programme topic addressed INSO-4-2015: Innovative schemes for open innovation and science 2.0 b) Academia- Business/Public/CSO knowledge co-creation Coordination and support action. The FabSpace 2.0 project aims at making universities open innovation centres for their region and improving their contribution to the socio-economic and environmental performance of societies.</p>
<p>To achieve these general objectives, the FabSpace 2.0 project offers to concentrate on one research area with high expected socio-economic impact: data-driven innovation, with a particular attention to Earth observation data.</p>
<p>In the six European regions covered by the consortium, partner universities work together with co-located Business Incubation Centres of the European Space Agency (ESA BICs). ESA BICs aim at inspiring entrepreneurs to turn space-connected business ideas into commercial companies, and provide technical expertise and business-development support.</p>
<p>This consortium, completed by TerraNIS – the French company that operates the European Group of Enterprises for a Network of Information Using Space (EUGENIUS) – and IDGEO – provisioning continuous trainings in Geomatics – and the European Business Network (EBN), will be a key success factor for the project.</p>
<p>This project began on March 1st 2016 and will last 3 years. It is under the lead of Univ. Toulouse III – Paul Sabatier (UPS).</p>
{% endblock %}
